.animate{
  /* BackGround */
  background-image: url('/public/Entry.png');
  background-size:100%;
  background-repeat: no-repeat;
  /* background-position: center; */
  height: 75vh;
  text-align: center;
  
  /* Flex */
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: center;
}

.animate > button{
  margin-bottom: 4vh;
  padding: 0.5vh 0.5vh;
  border-radius: 2vh;
  background-color: rgb(81, 206, 81);
}

@keyframes slideInFromAbove {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animation-drop{
  position: absolute;
  top: 2px;
  width: 80%;
  left: 10%;
  animation: slideInFromAbove 1s ease-in-out;
}